#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boxes {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap:20px;
}
.box{
  width: 80px;
  height: 80px;
  transition: background-color 0.4s ease-in-out;
 
}
.box.hidden {
  cursor: default;
  opacity: 0; 
}

.box.visible {
  cursor: pointer; 
  opacity: 1;
  border: 1px solid #ccc;
}
.box.selected{
  background-color: #0bcc59;
  cursor:not-allowed;
}
