#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boxes {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap:20px;
}
.box{
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
}